* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(17, 13, 35);
}

H1{
    color: #fff;
}

/* Estilização da div com os inputs */

.box {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 350px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 350px;
    background-color: #282828;
}

.box_add {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 350px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 350px;
    background-color: #282828;
    display: none;
}

/* Estilização componentes de input */

#userIn,
#passIn {
    margin: 8px; 
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border: none;
    width: 300px;
    border-radius: 8px;
    background-color: #282828;
}


input {
    border: .2px solid #0a52e1;
    outline: 2px solid #0a52e1;
    color: #fff;
}

#userUp,    
#passUp {
    margin: 8px; 
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border: none;
    width: 300px;
    border-radius: 8px;
    background-color: #282828;
}

#in, #up {
    width: 70px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0a52e1;
    color: #fff;
}

#in, #up:hover {
    width: 80px;
    transition: .5s;
}

.add {
    display: flex;
    flex-direction: column;
    
}

#add{
    width: 70px;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    background-color: #0a52e1;
    color: #fff;
}

/* popups */

.popIn {
    color: #fff;
    background-color: #282828;
    width: 420px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    margin-top: 350px;
    display: none;
}  

.dontIn {
    color: #fff;
    background-color: #282828;
    width: 320px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    margin-top: 350px;
    display: none;
} 

.userName {
    color: #fff;
    background-color: #282828;
    width: 320px;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 200px;
    display: none;
    position: absolute;
    margin-left: 41.5%;
} 

.nullFields {
    color: #fff;
    background-color: #282828;
    width: 320px;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 200px;
    display: none;
    position: absolute;
    margin-left: 41.5%;
}