* {
    margin: 0;
    box-sizing: border-box;
}

/* Estilização da div com os inputs */

.box {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 350px;
    background-color: #8cd0ed;
}

.box_add {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    display: none; 
    margin: auto;
    margin-top: 350px; 
    background-color: #8cd0ed;
}

/* Estilização componentes de input */

#user,
#pass {
    margin: 8px; 
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border: none;
    width: 150px;
}

#in, #up {
    width: 70px;
    margin: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#in:hover {
    width: 80px;
    transition: .5s;
}

#up:hover {
    width: 80px;
    transition: .5s;
}

.add {
    display: flex;
    flex-direction: column;
}

#add{
    width: 70px;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}